body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  overflow: hidden;
}

#logo {
  background-image: url("./scythe_logo_est.svg");
  background-size: 100% 100%;
  filter: invert();
  width: 966px;
  height: 300px;
}
