body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  font-family: "Roboto", sans-serif;
}

.all-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  position: relative;
  width: 100%;
  height: 300px;
  max-width: 600px;
}

.see-me {
  color: black;
  font-size: 1rem;

  transition: color 1s;
}

.pink-text {
  color: #ee00ff;
}

.blue-text {
  color: #00f0e1;
}

.yellow-text {
  color: #fff300;
}

.go-back {
  color: white;
}

#logo {
  background-image: url("./assets/scythe_logo_est_color.svg");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;

  transition: top 1s, left 1s;
}

#logo_shadow {
  background-image: url("./assets/scythe_logo_est_color_3.svg");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  top: 0px;
  left: 0px;

  transition: top 1s, left 1s;
}

.socials {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  max-width: 450px;
  min-width: 200px;
}

.social-icon {
  background-size: 100% 100%;
  height: 2rem;
  width: 2rem;
}

#soc-ig {
  background-image: url("./assets/ig_tricolor.svg");
}

#soc-yt {
  background-image: url("./assets/yt_tricolor.svg");
}

.news {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  font-size: 1rem;
}

.news-block {
  border: 1px solid;
  padding: 0px 1rem 0px 1rem;
  width: 80%;
  max-width: 450px;
  min-width: 200px;
}

.news-block h2 {
  font-size: 1rem;
  border-bottom: 0.8px dashed;
}

.news-block:not(:first-child) {
  margin-top: 1.5rem;
}

.news-block span {
  color: white;
}

@media screen and (max-width: 800px) {
  body {
    padding-bottom: 10%;
  }

  .all-content {
    width: 80%;
  }
}
