body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  overflow: hidden;
}

.container {
  position: relative;
  width: 60%;
  height: 300px;
}

.see-me {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 16px;

  transition: color 1s;
}

.pink-text {
  font-family: "Roboto", sans-serif;
  color: #ee00ff;
}

.blue-text {
  font-family: "Roboto", sans-serif;
  color: #00f0e1;
}

.yellow-text {
  font-family: "Roboto", sans-serif;
  color: #fff300;
}

.go-back {
  font-family: "Roboto", sans-serif;
  color: white;
}

.text-container {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.text-container > * {
  font-size: 1em;
  font-weight: bold;
}

#logo {
  background-image: url("./scythe_logo_est_color.svg");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;

  transition: top 1s, left 1s;
}

#logo_shadow {
  background-image: url("./scythe_logo_est_color_3.svg");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  top: 0px;
  left: 0px;

  transition: top 1s, left 1s;
}

@media only screen and (max-width: 800px) {
  .text-container {
    align-items: center;
  }

  .container {
    width: 80%;
  }
}
